body {
  font-family: Lora, serif;
  background: #2F4D70;
  /* http://coolors.co/3a3736-2f4d70-a3d9ac-eb4b4d-81b89d */

  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
  color: #EB4B4D;
}

pre, code {
  font-family: Inconsolata, monospace;
}

.main {
  margin-left: 400px;
  margin-right: 40px;

  padding: 20px 40px;

  background: #fff;
}


@media only screen and (max-width: 1024px) {
  .main {
    margin: 0;
  }
}
